<div class="chart-container">
    <div class="card table-wrapper">
      <div class="table-scroll">
      <table>
        <thead>
        <tr>
          <th>Monitor</th>
          <th>Company Name</th>


        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let loc of getSortedLocations()"
            [class.monitored-row]="isMonitored(loc.locationID ?? loc.id ?? '')"
            [class.selected]="(loc.locationID ?? loc.id ?? '') === selectedElementId">
          <td>
            <button class="icon-btn" (click)="toggleMonitorLocation(loc.locationID ?? loc.id ?? ''); $event.stopPropagation()">
              {{ isMonitored(loc.locationID ?? loc.id ?? '') ? '★' : '☆' }}
            </button>
          </td>
          <td><strong>{{ loc.name }}</strong></td>


        </tr>
        <tr *ngIf="LocElements.length === 0">
          <td colspan="5" class="no-alerts">No companies found.</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

