<h2 mat-dialog-title>Audit</h2>

<mat-dialog-content class="audit-view-dialog__content">
  <div *ngIf="loading()">Loading…</div>
  <div *ngIf="!loading() && error()" class="audit-view-dialog__error">{{ error() }}</div>

  <ng-container *ngIf="!loading() && !error() && audit() as a">
    <div class="audit-view-dialog__meta">
      <div class="audit-view-dialog__title">{{ a.title || 'Untitled audit' }}</div>
      <div class="audit-view-dialog__sub">
        <span>{{ a.auditType }}</span>
        <span>•</span>
        <span>{{ a.date | date:'yyyy-MM-dd' }}</span>
      </div>
    </div>

    <ng-container *ngIf="isCustomAudit() && formTemplate() && existingResponse(); else nonCustom">
      <app-form-renderer
        [template]="formTemplate()!"
        [existingResponse]="existingResponse()!"
        [readonly]="true"
        [showProgress]="false"
      ></app-form-renderer>
    </ng-container>

    <ng-template #nonCustom>
      <div class="audit-view-dialog__note">
        This audit type isn’t yet supported in the pop-up viewer. Use Audit Library for full details.
      </div>
    </ng-template>
  </ng-container>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button type="button" (click)="close()">Close</button>
</mat-dialog-actions>

